/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  display: table;
  margin: 0;
  padding: 56px 0 0 0;
  overflow-x: hidden;
}
/*MOBILE VERSION*/
.mobile-menu {
  display: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    padding: 0;
  }
  header {

  }
  .row {
     margin-right: 0;
     margin-left: 0;
  }
  #header {
    display: none;
  }
  .mobile-menu {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: #fff;
  }
  .bg-mobile-menu {
    background: #40434e;
    padding: 8px 0;
  }
  .bg-mobile-menu p {
    font-size: 16px;
  }
  .navbar-nav {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
  .nav .item-head {
    font-size: 18px;
  }
  .position-mobile-menu{
    display: flex;
    justify-content: center;
  }
  .logo-mobile-menu {
    display: flex;
    align-items: center;
  }
  .button-mobile-menu {

  }
  a {
    color: #fff;
  }
  a:hover {
    color: #adddfe !important;
  }
  .container-fluid {
     width: 0;
     padding-right: 0;
     padding-left: 0;
     margin-right: 0;
     margin-left: 0;
  }
  .header-card-logo .col-md-12:nth-child(2) {
    display: none;
  }
  .header-card-logo a {
    font-size: 38px !important;
  }
  .registration button {
    font-size: 35px !important;
    width: 188px !important;
    height: 70px !important;
  }
  .block-1 {
    height: auto !important;
  }
  .block-1 .title {
    text-align: center;
    font-size: 24px !important;
  }
  .block-1 .cent {
    font-size: 110px !important;
  }
  .block-1 .title p:nth-child(1) {
    color: #40434e !important;
  }.block-1 .title p:nth-child(2) {
    font-size: 20px;
    color: #0c9cf9 !important;
  }
  .about-block1, .about-block2, .about-block3 {
    font-size: 20px;
  }.about-block1 h5, .about-block2 h5, .about-block3 h5 {
    font-size: 30px;
  }
  .about-block1, .about-block2, .about-block3 {
    height: max-content !important;
  }
  .one-about {
    font-size: 20px !important;
  }
  .one-about b {
    font-size: 28px !important;
    margin: 0 12px 0 0 !important;
  }
  .one-about strong {
    color: #404359;
    align-items: normal;
    display: block;
  }
  .about-button {
    display: flex;
    justify-content: center;
    margin: 50px 0 100px 0;
    font-size: 25px;
  }
  /*End-block-1*/
  .block-1-facts {
    height: auto !important;
  }
  .block-1-facts .title {
    font-size: 70px;
  }
  .block-1-facts p:nth-child(1) {
    font-size: 32px !important;

  }
  .block-1-facts p:nth-child(2) {
    font-size: 15px !important;
    text-align: center;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    /*padding-right: 0 !important;*/
    /*padding-left: 0 !important;*/
  }
  .info h5 {
    font-size: 22px;
    padding: 2%;
  }
  .info-alight {
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-bottom: 85px;
  }
  .info-alight-margin {
    margin-left: 0 !important;
  }
  .info-text-1 {
    margin-left: 0 !important;
    max-width: 500px !important;
    font-size: 19px;
    margin-top: 0 !important;
  }.info-text-2 {
   margin-left: 0 !important;
   max-width: 500px !important;
   font-size: 19px;
   margin-top: 0 !important;
  }
  .block-2 {
    height: auto;
  }
  .rss {
    display: contents;
    flex-wrap: wrap;
  }
  .block-2 {
    height: auto !important;
  }
  .container-bar {
    display: none;
  }
  .block-2 p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #40434e;
    padding: 0 !important;
  }
  .block-3 .row .text-p p {
    text-align: center;
    font-size: 30px !important;
  }
  .block-3 {
    height: 620px !important;
  }
  .block-3 button {
    font-size: 15px;
  }
  .footer {
    display: none;
  }
  .mobile-footer {
    display: block !important;
    height: auto;
    background: #1a1b1e;
  }
  .mobile-footer li {
    padding-top: 10px;
    text-align: center;
    list-style-type: none;
  }.mobile-footer li:first-of-type {
    padding-top: 10px;
  }.mobile-footer li:nth-child(5) {
    padding: 30px 0 30px 0;
  }
}
/*END MOBILE VERSION*/

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#header {
  background: #feffff;
  padding: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
}

#header .logo-head a {
  margin-left: 200px;
  font-size: 36px;
  color: #ffbe89;
  text-decoration: none;
}

#header .logo-head strong {
  color: #1089f9;
}

.nav-item-head {
  margin-right: 10%;
}

.header-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  /* background-size: 240px 210px, auto, 150px; */
  background: linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.68) ), url(https://www.mantralabsglobal.com/wp-content/uploads/2016/02/web-development-blog-1.png) 68% 70% no-repeat #8cb3c6;
  /* background-size: 150% 150%; */
  /* -webkit-animation: back-gr 57s ease infinite; */
  /* -moz-animation: back-gr 57s ease infinite; */
  /* -o-animation: back-gr 57s ease infinite; */
  /* animation: back-gr 57s ease infinite; */
}

/*@-webkit-keyframes back-gr {*/
  /*0%{background-position:0% 50%}*/
  /*25%{background-position:85% 25%}*/
  /*50%{background-position:100% 50%}*/
  /*75%{background-position:85% 75%}*/
  /*100%{background-position:0% 50%}*/
/*}*/
/*@-moz-keyframes back-gr {*/
  /*0%{background-position:0% 50%}*/
  /*25%{background-position:85% 25%}*/
  /*50%{background-position:100% 50%}*/
  /*75%{background-position:85% 75%}*/
  /*100%{background-position:0% 50%}*/
/*}*/
/*@keyframes back-gr {*/
  /*0%{background-position:0% 50%}*/
  /*25%{background-position:85% 25%}*/
  /*50%{background-position:100% 50%}*/
  /*75%{background-position:85% 75%}*/
  /*100%{background-position:0% 50%}*/
/*}*/

.header-card-logo {
  margin: 26px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #7a7b83;
  padding: 25px;
  border-bottom: 1px #fff solid;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #40434e;
  border-bottom: 1px #40434e solid;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: #40434e;
  border-bottom: 1px #40434e solid;
}

.nav .item-head {
  border-bottom: 0px #fff solid;
}

.header-card-logo a {
  display: flex;
  color: #fff;
  font-size: 60px;
  text-decoration: none;
  text-align: center;
}

.header-card-logo p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: aliceblue;
  margin: 20px 0px 0px 0px;
}

.sign-in {
  display: flex;
  justify-content: center;
}

.sign-in button {
  background: #8cb3c6;
  border: 8px solid #8cb3c6;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition-duration: 1s, 1s, 1s, 1s;
  -webkit-transition-property: background, border-color, color, box-shadow;
  -moz-transition-duration: 1s, 1s, 1s, 1s;
  -moz-transition-property: background, border-color, color, box-shadow;
  transition-duration: 1s, 1s, 1s, 1s;
  transition-property: background, border-color, color, box-shadow;
  width: 150px;
}

.sign-in button:hover{
  background: #daad86;
  border-color: #daad86;
  color: white;
  box-shadow: 0px 0px 30px rgba(141, 141, 141);
}

.registration {
  display: flex;
  justify-content: center;
}

.registration button {
  background-color: #0c9cf9;
  border: 0px solid #0c9cf9;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 12px 20px 35px rgb(33, 33, 33);
  width: -webkit-fill-available;
  width: 200px;
  height: 65px;
}

.registration button:hover{
  color: #fff;
  box-shadow: 5px 10px 15px rgb(33, 33, 33);
  background-color: #0d8cdf;
}

.soc-net {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.soc-net a {
  margin: 10px;
  text-decoration: none;
  color: #fff;
}

.block-1 {
  width: 100%;
  height: 1030px;
  background: #fff;
}

.block-1 button {
  background: #0c9cf9;
  border: 0 solid;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 12px 32px rgb(205, 205, 205);
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
  -webkit-transition-property: background, border, box-shadow;
  -moz-transition-duration: 0.5s, 0.5s, 0.5s;
  -moz-transition-property: background, border, box-shadow;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-property: background, border, box-shadow;
}

.block-1 button:hover {
  background: #0c9cf9;
  border: 0 solid;
  padding: 10px;
  box-shadow: 0 8px 15px rgb(205, 205, 205);
}

.block-1 p:nth-child(1) {
  margin-top: 36px;
  justify-content: center;
  display: flex;
}.block-1 p:nth-child(2) {
  font-size: 22px;
   justify-content: center;
   display: flex;
}.block-1-facts p:nth-child(1) {
  margin-top: 32px;
  justify-content: center;
  display: flex;
}.block-1-facts p:nth-child(2) {
  font-size: 17px;
   justify-content: center;
   display: flex;
   text-transform: uppercase;
}.info-text-1 {
  margin-top: 36px;
  margin-bottom: 36px;
  justify-content: center;
  display: flex;
  max-width: 406px;
  margin-left: 18%;
  text-align: justify;
}.info-text-2 {
   margin-top: 36px;
   justify-content: center;
   display: flex;
   max-width: 406px;
   text-align: justify;
}

.block-1 a {
  margin-top: 25px;
}

.block-1-facts {
  width: 100%;
  height: auto;
  background: linear-gradient( rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.85) ), url(http://www.ipcenter.uz/images/66.png) no-repeat center fixed;  color: #fff;
  background-size: cover;
}
.block-1-facts img {
  filter: invert(1);
}

.block-1-facts .title {
  display: grid;
  justify-content: center;
  font-size: 32px;
  margin-top: 90px;
  margin-bottom: 70px;
  color: #fff;
}

.block-1 .container-fluid {
  width: 94%;
}
.info {
  text-transform: uppercase;
}
.info h5 {
  text-align: center;
  color: #adadad;
  font-weight: bold;
}.info h4 {
   text-align: center;
   color: #fff;
   font-weight: bold;
   font-size: 70px;
 }.info p {
   margin-left: 16%;
   color: #ececec;
 }

.block-2 {
  width: 100%;
  height: 700px;
  background: #fff;
}

.block-3 {
  width: 100%;
  height: 600px;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) ), url(https://www.buro247.ru/local/images/buro/coco-cinema-1--medium-size_jpg_1350286257.jpg) no-repeat center fixed;
  color: #fff;
  background-size: cover;
}

.block-1 .title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 90px;
  margin-bottom: 70px;
  color: #adadad;
}.block-2 .title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-top: 90px;
  margin-bottom: 70px;
  color: #adadad;
}.block-3 .title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-top: 90px;
  margin-bottom: 70px;
  color: #f7f7f7;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-top: 90px;
  margin-bottom: 70px;
  color: #8cb3c6;
}

.form-reg {
  padding: 18px;
  background: white;
  height: 430px;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: box-shadow;
  -moz-transition-duration: 0.5s;
  -moz-transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-property: box-shadow;
}

.form-reg:hover {
  box-shadow: 0 0 25px rgb(222, 222, 222);
}

.form-reg label {
  padding: 10px;
}

.form-reg button {
  background: #8cb3c6;
  border: 5px #8cb3c6 solid;
  color: white;
  width: 600px;
  height: auto;
}

.form-reg input {
  width: 100%;
  border: 0;
  border-bottom: 2px rgba(152, 218, 252, 0.51) solid;
  padding: 5px;
  color: #5e5e5e;
}

.form-reg input:active,
.form-reg input:focus{
  border-bottom: 2px #98dafc solid;
}

.form-reg-modal {
  padding: 18px;
  background: white;
  height: 250px;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: box-shadow;
  -moz-transition-duration: 0.5s;
  -moz-transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-property: box-shadow;
}

.form-reg-modal label {
  padding: 10px;
}

.form-reg-modal button {
  background: #cc7d38;
  border: 0 solid;
  color: white;
  width: 235px;
  height: auto;
  padding: 14px;
}

.tab-pane button {
  background: #cc7d38;
  border: 0 solid;
  color: white;
  width: 235px;
  height: auto;
  padding: 14px;
}

.form-reg-modal input {
  width: 100%;
  border: 1px rgb(232, 225, 218) solid;
  padding: 5px 5px 5px 12px;
  color: #5e5e5e;
  border-radius: 5px;
}

.form-reg-modal input:active,
.form-reg-modal input:focus{
  border: 1px rgb(204, 125, 56) solid;
}

.form-login input {
  width: 100%;
  border: 1px rgb(232, 225, 218) solid;
  padding: 5px 5px 5px 12px;
  color: #5e5e5e;
  border-radius: 5px;
}

.form-login input:active,
.form-login input:focus{
  border: 1px rgb(204, 125, 56) solid;
}

.about-block1,
.about-block2,
.about-block3{
  height: 380px;
  padding: 30px;
  color: #5e5e5e;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.5s ease-in-out; /** Firefox **/
  -o-transition: all 0.5s ease-in-out; /** Opera **/
}

.about-block1:hover,
.about-block2:hover,
.about-block3:hover{
  box-shadow: 0 0 80px rgb(213, 213, 213);
  transform: translate(0,-35px);
  -webkit-transform: translate(0,-35px);
  -o-transform: translate(0,-35px);
  -moz-transform: translate(0,-35px);
}

.about-block1 h5 {
  color: #000000;
  text-align: center;
}
.about-block2 h5 {
  color: #000000;
  text-align: center;
}
.about-block3 h5 {
  color: #000000;
  text-align: center;
}
.about-block1 p {
  color: #6bda7e;
}.about-block1 ul {
  padding: 0;
  text-align: center;
}.about-block2 ul {
  padding: 0;
  text-align: center;
}.about-block3 ul {
  padding: 0;
  text-align: center;
}

.about-block1 li,
.about-block2 li,
.about-block3 li {
  list-style-type: none;
}



.ONE {
  margin: -7px 6px 0 6px;
  font-weight: bold;
  color: #0c9cf9;
  font-size: 32px;
}

.about-block3 p:nth-child(2),
.about-block3 p:nth-child(3){
  color: #8cb3c6;
}

hr {
  border: 0;
  height: 1px;
  background: #000;
  background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
  background-image: -moz-linear-gradient(left, #fff, #000, #fff);
  background-image: -ms-linear-gradient(left, #fff, #000, #fff);
  background-image: -o-linear-gradient(left, #fff, #000, #fff);
}

/*bar*/
.progressbar li.no-active {

}
.progressbar li.no-active:before {

}
.progressbar li.no-active + li:after {

}
#top {display:none;position:fixed;right:1%;bottom:16px;height:16px;width:48px;height:48px;background:#ff0000;}
.hidden{
  opacity:0;
}
.visible{
  opacity:1;
}

.container-bar {
  width: 100%;
}

.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 24.33%;
  position: relative;
  text-align: center;
  cursor: auto;
  z-index: 2;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 50px;
  line-height : 44px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: -8px auto 6px 114px;
  background-color: #5caf5c;
  z-index: 1;
  box-shadow: 0 0 50px #b1b1b1;
  color: white;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active-in {
  color: #5caf5c;
}
.progressbar li.active-in:before {
  border-color: #5caf5c;
}
.progressbar li.active-in + li:after {
  background-color: #5caf5c;
}

.block-2 p{
  padding: 0 20px 20px 20px;
}
.block-2 h5{
  padding: 0 20px 20px 20px;
  color: #696969;
  text-align: center;
}

/*bar*/

.text-in {
  padding-right: 5px;
}

.footer {
  color: #fff;
  width: 100%;
  height: 252px;
  background: #1a1b1e;
}

.footer .logo-head {
  margin: 30% 0 0 10%;
  font-size: 40px;
}
.footer .feed-back {
  margin: 39% 0 0 0;
  font-size: 18px;
}
.footer .soc-net {
  margin: 36% 0 0 0;
}

.footer .soc-net a {
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: color;
  -moz-transition-duration: 0.3s;
  -moz-transition-property: color;
  transition-duration: 0.3s;
  transition-property: color;
}
.footer .soc-net a:hover {
  color: #7e7b83;
}

.img-block {
  text-align: center;
  margin-top: 0;
}

.block-2 .cent{
  justify-content: center;
  display: flex;
  color: #adadad;
  font-size: 80px;
}.block-1 .cent{
  justify-content: center;
  display: flex;
  color: #adadad;
  font-size: 80px;
}

.questions {
  margin: 30px auto auto auto;
  font-size: 18px;
}

.questions a {
  text-decoration: none;
  padding: 10px;
  background: #fafafa;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: box-shadow;
  -moz-transition-duration: 0.5s;
  -moz-transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-property: box-shadow;
  color: #e26b6b;
}.questions a:hover {
   box-shadow: 0 0 80px rgb(213, 213, 213);
}

.block-3 button {
  background: #0c9cf9;
  padding: 16px;
  border: 0 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
  -webkit-transition-property: background, box-shadow;
  -moz-transition-duration: 0.5s, 0.5s, 0.5s;
  -moz-transition-property: background, box-shadow;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-property: background, box-shadow;
}

.block-3 button:hover {
  background: #0c9cf9;
  box-shadow: 0 0 40px rgb(0, 0, 0);
}
.block-3 .row .text-p p {
  justify-content: center;
  display: flex;
  font-size: 45px;
  color: #fff;
}

.block-3 .row a {
  text-decoration: none;
}
.topbutton {
  width: 80px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 26px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.one-about {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.one-about strong {
  color: #404359;
  align-items: normal;
  display: block;
}

.one-about b {
  color: #0c9cf9;
  font-size: 40px;
  margin: 0 8px 0 8px;
}

.about-button {
  display: flex;
  justify-content: center;
}

.info-alight {
  display: flex;
  justify-content: end;
}
.info-alight-margin {
  margin-left: 8%;
}

.rss {
  display: flex;
}

.mobile-footer {
  display: none;
}

.anim::before {
  display:inline-block;
  -webkit-animation:
    PRotate 800ms ease-out 0ms 1,
    Rotate 3500ms linear 850ms infinite;
  animation:
    PreRotate 800ms ease-out 0ms 1,
    Rotate 3500ms linear 850ms infinite;
}

@-webkit-keyframes Rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes PRotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(-360deg);}
}

@keyframes Rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes PRotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(-360deg);}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
